.about { 
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center left;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        p {
            margin-bottom: 1rem;
            color: white;
        }

        h1 {
            color : $secondary-color;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    
    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    
        &__job {
            background: lighten($primary-color, 5%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3 {
                margin: 0.5rem 0;
            }
            h3 {
                font-weight: 300;
            }
            h5 {
                margin: 0.3rem 0;
                font-weight: 300;
                text-decoration: underline;
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg)
        translate(-3rem, -5rem);
    }
    
}